.SquadScreen {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

.SquadBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 55px;
    padding: 10px 0;
    border: 1px solid black;
} 

.SquadBar > img, .SquadBar > svg {
    width: 30px;
    height: 30px;
    margin: 5px 0; 
    cursor: pointer;
}

.SquadBar > img {
    border: 1px solid black;
}