.SquadScreen {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

.SquadAndStorage {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.StorageIcon, .TasksIcon {
    padding: 10px 0;
    border: 1px solid black;
    height: 30px;
    width: 55px;
    cursor: pointer;
}

.SquadBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 55px;
    padding: 10px 0;
    border: 1px solid black;
} 

.SquadBar > img, .SquadBar > svg {
    width: 30px;
    height: 30px;
    margin: 5px 0; 
    cursor: pointer;
}

.SquadBar > img {
    border: 1px solid black;
}

.StorageScreen, .TasksScreen {
    z-index: 4;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    top: 0;
    left: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.StorageScreen {
    flex-direction: row;
}

.StorageScreen > div {
    flex: 1 1 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
}

.StorageScreen > div > div {
    margin: 10px 0 3px;
    display: flex;
    justify-content: center;
}

.StorageScreen > div > svg {
    cursor: pointer;
}

.TasksScreen {
    width: 540px;
    min-height: 100px;
    flex-direction: column;
}

.NoTasks {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.TaskCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.TaskCategories > button {
    width: 250px;
    height: 40px;
    cursor: pointer;
}

.TaskLine {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 520px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.TaskTitle {
    font-weight: bold;
}