.TaskScreen {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    right: 0;
    top: -210px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px
}

.TaskScreen_text {
    width: 80%;
    text-align: center;
}

.TaskScreen_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.TaskScreen_bigResourceIcon {
    margin: 1px 0 0 2px;
    display: inline-block;
}