.VillageMapAgenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70px;
    min-height: 120px;
    position: absolute;
    right: -73px;
    top: -1px;
    background-color: white;
    border: 1px solid black;
}

.VillageMapAgenda > button {
    padding: 5px 0;
}