.StartMiniScreen {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    height: 100%;
}

.ClassIconComponent {
    width: 130px;
    height: 130px;
    border: 1px dashed gray;
}

.NameInputComponent {
    width: 130px;
    box-sizing: border-box;
    padding: 2px 5px;
    text-align: center;
    font-size: 15px;
}

.SelectClassComponent {
    padding: 2px 5px;
    font-size: 15px;
    text-align-last: center;
}

.StartButtonComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 170px;
}

.StartButtonComponent > button {
    padding: 7px;
    font-size: 16px;
    background-color: gold;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid black;
    min-width: 120px;
}

.StartButtonComponent > a {
    font-size: 24px;
    margin-bottom: -4px;
}

.StartButtonComponent > svg {
    cursor: pointer;
}