.BackpacksScreen {
    width: 98%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BackpacksScreen_itemsLine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.BackpacksScreen_squadResources {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding: 2px;
}

.BackpacksScreen_itemsLine_CommonIconWithButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BackpacksScreen_itemsLine_CommonIconWithButtons_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.BackpacksScreen_itemsLine_CommonIconWithButtons_buttons > div > img,
.BackpacksScreen_itemsLine_CommonIconWithButtons_buttons > div > svg {
    width: 18px;
    height: 18px;
    cursor: pointer;
}