.BackpacksScreen {
    width: 98%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.BackpacksScreen_squadResources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    width: 40px;
    margin: 5px;
    padding: 5px;
    gap: 5px;
}

.BackpacksScreen_squadResources > div {
    display: flex;
}

.BackpacksScreen_itemsLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 88%;
}

.BackpacksScreenItem {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BackpacksScreenItemButton {
    width: calc(100% - 10px);
    padding: 0;
}

.BackpacksScreenItemActions {
    position: absolute;
    left: 60px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid black;
    background-color: white;
    gap: 1px;
    padding: 1px;
    z-index: 3;
    min-width: 100px;
}

.BackpacksScreenItemActions > label {
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;
}

.BackpacksScreenItemActions > svg {
    height: 14px;
    width: 14px;
}

.BackpacksScreenItemActions > button {
    padding: 3px;
    border: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: lightgrey;
}