.BackpacksScreen {
    width: 98%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.BackpacksScreen_squadResources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    width: 40px;
    margin: 5px;
    padding: 5px;
    gap: 5px;
}

.BackpacksScreen_squadResources > div {
    display: flex;
}

.BackpacksScreen_itemsLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 88%;
}

.BackpacksScreenItem_CommonIconWithButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BackpacksScreenItem_CommonIconWithButtons_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.BackpacksScreenItem_CommonIconWithButtons_buttons > svg,
.BackpacksScreenItem_CommonIconWithButtons_buttons > button {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.BackpacksScreenItem_CommonIconWithButtons_buttons > button {
    padding: 0 0 3px;
    border: none;
    background: none;
}