.VillageMap {
    border: 1px solid black;
    width: 450px;
    height: 450px;
    position: relative;
}

.VillageMap_icon_Academy,
.VillageMap_icon_Cyber_Lab,
.VillageMap_icon_Focus_Site,
.VillageMap_icon_Market,
.VillageMap_icon_Mutation_Lab,
.VillageMap_icon_Spell_Shop,
.VillageMap_icon_Battle {
    position: absolute;
    width: min-content;
    padding: 3px;
}

.VillageMap_icon_Academy {
    left: 90px;
    top: 190px;
}

.VillageMap_icon_Cyber_Lab {
    left: 75px;
    top: 144px;
}

.VillageMap_icon_Focus_Site {
    left: 189px;
    top: 153px;
}

.VillageMap_icon_Mutation_Lab {
    left: 168px;
    top: 89px;
}

.VillageMap_icon_Spell_Shop {
    left: 54px;
    top: 195px;
}

.VillageMap_icon_Market {
    left: 61px;
    top: 98px;
}

.VillageMap_icon_Battle {
    left: 411px;
    top: 408px;
}