.BattlePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BattleLog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    max-height: 95vh;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 5px;
}

.BattleLog_log {
    border-bottom: 1px solid black;
}

.BattlePage {
    position: relative;
    border: 1px solid black;
    padding: 5px;
    max-height: 500px;
    width: calc(95vw - 150px);
}

.BattlePage_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BattlePage_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BattlePage_body_abilitiesBlock {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    position: relative;
    min-height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.BattlePage_body_abilitiesBlock_abilities {
    left: 0;
    gap: 10px;
    width: calc(100% - 70px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.BattlePage_body_abilitiesBlock_abilities > p {
    margin: 30px 0;
}

.BattlePage_body_abilitiesBlock_abilities_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BattlePage_body_abilitiesBlock_button_instruction {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    justify-content: center;
    min-width: 150px;
}

.BattlePage_body_abilitiesBlock_button_deselectSquadMember,
.BattlePage_body_abilitiesBlock_button_deselectAbility, 
.BattlePage_body_abilitiesBlock_button_deselectOpponent,
.BattlePage_body_abilitiesBlock_button_process,
.BattlePage_body_abilitiesBlock_button_nextTurn {
    position: relative;
    margin-left: 5px;
    padding: 4px 13px 0;
}

.BattlePage_body_abilitiesBlock_button_deselectSquadMember,
.BattlePage_body_abilitiesBlock_button_deselectAbility,
.BattlePage_body_abilitiesBlock_button_deselectOpponent {
    background-color: wheat;
}

.BattlePage_body_abilitiesBlock_button_process {
    background-color: lightgreen;
}

.BattlePage_body_abilitiesBlock_button_nextTurn {
    background-color: lightcoral;
    margin-right: 5px;
}