.BattlePage {
    position: relative;
    border: 1px solid black;
    padding: 5px;
    min-width: 65px;
    min-height: 65px;
}

.BattlePage_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BattlePage_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BattlePage_body_abilitiesBlock {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    position: relative;
    min-height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.BattlePage_body_abilitiesBlock_abilities {
    left: 0;
    gap: 10px;
    width: calc(100% - 70px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.BattlePage_body_abilitiesBlock_abilities_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BattlePage_body_abilitiesBlock_button_deselect, 
.BattlePage_body_abilitiesBlock_button_process {
    position: relative;
    right: 0;
    padding: 4px 13px 0;
}

.BattlePage_body_abilitiesBlock_button_deselect {
    background-color: lightcoral;
}

.BattlePage_body_abilitiesBlock_button_process {
    background-color: lightgreen;
}