.BattlePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BattlePage {
    position: relative;
    border: 1px solid black;
    padding: 5px;
    max-height: 580px;
    width: calc(95vw - 150px);
}

.BattlePage_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BattlePage_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}