.MindScreen {
    border: 1px solid black;
    padding: 5px;
    min-height: 65px;
}

.MindScreen__notVertical {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
}

.MindScreen__notVertical > p {
    height: 55px;
    margin: 0;
}

.MindScreen__vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80px;
    height: 450px;
    overflow-y: scroll;
}

.MindScreen_datum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}