.ProfileScreen {
    display: flex;
    flex-direction: row;
}

.ProfileScreen, .ProfileScreenContainer {
    border: 1px solid black;
    padding: 5px;
    min-width: 65px;
    min-height: 65px;
}

.ProfileScreenContainer {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ProfileScreen_inventory {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProfileScreen_spells_and_bending {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    justify-content: space-around;
}

.ProfileScreen_spells_and_bending > div {
    width: 47%;
    margin-top: 3px;
}

.InventoryVisibleToggle {
    position: absolute;
    cursor: pointer;
    right: 13px;
    top: 100px; 
    z-index: 3;
}