.BattleOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.BattleOrder_squadMember {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 175px;
    height: 175px;
}

.BattleOrder_squadMember_with_Mana_and_Focus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}