.StatsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 5px;
    margin: 2px;
}

.StatsScreen_header {
    text-align: center;
}

.StatsScreen_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.StatsScreen_params, .StatsScreen_resistances {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}