.BattleAbilities {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    position: relative;
    min-height: 105px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BattleAbilities_list {
    border: 1px solid black;
    gap: 10px;
    padding: 5px;
    width: calc(100% - 500px);
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BattleAbilities_list > p {
    margin: 30px 0;
}

.BattleAbilities_abilitiesIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.BattleAbilities_instruction {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    justify-content: center;
    min-width: 150px;
}

.BattleAbilities_deselectSquadMember,
.BattleAbilities_deselectAbility, 
.BattleAbilities_deselectOpponent,
.BattleAbilities_processButton,
.BattleAbilities_nextTurnButton {
    position: relative;
    padding: 4px 13px 0;
    height: 60px;
    margin: auto 0;
}

.BattleAbilities_deselectSquadMember,
.BattleAbilities_deselectAbility,
.BattleAbilities_deselectOpponent {
    background-color: wheat;
}

.BattleAbilities_processButton {
    background-color: lightgreen;
}

.BattleAbilities_nextTurnButton {
    background-color: lightcoral;
}