.commonIconWithButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.commonIconWithButton_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.commonIconWithButton_buttons > div {
    cursor: pointer;
}