.extensionPopup {
    width: 200px;
    height: 300px;
    outline: white solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightsteelblue;
    border: 1px solid black;
}

.extensionPopup_iconBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extensionPopup_iconBlock > img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border: 1px dashed gray;
}

.extensionPopup_iconBlock > select {
    padding: 2px 5px;
    font-size: 14px;
}

.extensionPopup_buttonsBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 170px;
}

.extensionPopup_buttonsBlock > button {
    padding: 7px;
    font-size: 16px;
    background-color: gold;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid black;
}

.extensionPopup_buttonsBlock > a {
    font-size: 24px;
    margin-bottom: -4px;
}

.extensionPopup_userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}

.gamePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95vw;
    height: 95vh;
}

.gamePage_componentsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gamePage_component {
    border: 1px solid black;
    padding: 5px;
    width: 335px;
    min-height: 100px;
}

.gamePage_mainBlock {
    width: calc(95vw - 435px);
    min-width: 500px;
    height: 90vh;
}

.abilitiesScreen, .itemsScreen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.abilitiesScreen_ability, .itemsScreen_item {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 90px;
    height: 90px;
}

.abilitiesScreen_ability > img, .itemsScreen_item > img {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}