.extensionPopup {
    width: 200px;
    height: 300px;
    outline: white solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightsteelblue;
    border: 1px solid black;
}

.extensionPopup_iconBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extensionPopup_iconBlock > img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border: 1px dashed gray;
}

.extensionPopup_iconBlock > select {
    padding: 2px 5px;
    font-size: 14px;
}

.extensionPopup_buttonsBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 170px;
}

.extensionPopup_buttonsBlock > button {
    padding: 7px;
    font-size: 16px;
    background-color: gold;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid black;
}

.extensionPopup_buttonsBlock > a {
    font-size: 24px;
    margin-bottom: -4px;
}

.extensionPopup_userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}

.gamePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95vw;
    height: 95vh;
}

.gamePage_componentsBlock, .commonIconWithButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gamePage_component {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.inventory {
    display: flex;
    flex-direction: row;
}

.inventory_header {
    text-align: center;
}

.inventory_body {
    position: absolute;
}

.inventory_body > img {
    position: absolute;
    z-index: 1;
    top: 60px;
    width: 380px;
    height: 420px;
}

.inventory_line {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gamePage_mainBlock {
    width: calc(95vw - 435px);
    min-width: 500px;
    height: 90vh;
}

.commonScreen_notVertical {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 355px;
}

.commonScreen_vertical {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.commonIcon {
    border: 1px solid black;
    margin: 5px;
    width: 50px;
    height: 50px;
}